In [23]:
from splinter import Browser
from bs4 import BeautifulSoup as soup
from webdriver_manager.chrome import ChromeDriverManager
import pandas as pd

In [4]:
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome',**executable_path,headless=False)

====== WebDriver manager ======
Current google-chrome version is 97.0.4692
Get LATEST chromedriver version for 97.0.4692 google-chrome
There is no [win32] chromedriver for browser  in cache
Trying to download new driver from https://chromedriver.storage.googleapis.com/97.0.4692.71/chromedriver_win32.zip
Driver has been saved in cache [C:\Users\taher\.wdm\drivers\chromedriver\win32\97.0.4692.71]

In [12]:
url = 'https://redplanetscience.com'
browser.visit(url)
# Optional delay for loading the page
browser.is_element_present_by_css('div.list_text', wait_time=1)

True

In [14]:
html= browser.html
news_soup = soup(html,'html.parser')
slide_elem = news_soup.select_one('div.list_text')

In [15]:
news_title = slide_elem.find('div', class_='content_title').get_text()
news_title

'NASA to Reveal Name of Its Next Mars Rover'

In [16]:
news_p = slide_elem.find('div', class_='article_teaser_body').get_text()
news_p

"After a months-long contest among students to name NASA's newest Mars rover, the agency will reveal the winning name — and the winning student — this Thursday. "

### Featured Images

In [18]:
url = 'https://spaceimages-mars.com'
browser.visit(url)

In [19]:
full_image_elem = browser.find_by_tag('button')[1]
full_image_elem.click()

In [20]:
html = browser.html
img_soup = soup(html, 'html.parser')
img_url_rel = img_soup.find('img', class_='fancybox-image').get('src')
img_url_rel

'image/featured/mars3.jpg'

In [21]:
img_url = f'https://spaceimages-mars.com/{img_url_rel}'
img_url

'https://spaceimages-mars.com/image/featured/mars3.jpg'

In [24]:
df = pd.read_html('https://galaxyfacts-mars.com')[0]
df.columns=['description', 'Mars', 'Earth']
df.set_index('description', inplace=True)
df

                                    Mars            Earth
description
Mars - Earth Comparison             Mars            Earth
Diameter:                       6,779 km        12,742 km
Mass:                    6.39 × 10^23 kg  5.97 × 10^24 kg
Moons:                                 2                1
Distance from Sun:        227,943,824 km   149,598,262 km
Length of Year:           687 Earth days      365.24 days
Temperature:                -87 to -5 °C      -88 to 58°C

In [25]:
df.to_html()

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Mars</th>\n      <th>Earth</th>\n    </tr>\n    <tr>\n      <th>description</th>\n      <th></th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Mars - Earth Comparison</th>\n      <td>Mars</td>\n      <td>Earth</td>\n    </tr>\n    <tr>\n      <th>Diameter:</th>\n      <td>6,779 km</td>\n      <td>12,742 km</td>\n    </tr>\n    <tr>\n      <th>Mass:</th>\n      <td>6.39 × 10^23 kg</td>\n      <td>5.97 × 10^24 kg</td>\n    </tr>\n    <tr>\n      <th>Moons:</th>\n      <td>2</td>\n      <td>1</td>\n    </tr>\n    <tr>\n      <th>Distance from Sun:</th>\n      <td>227,943,824 km</td>\n      <td>149,598,262 km</td>\n    </tr>\n    <tr>\n      <th>Length of Year:</th>\n      <td>687 Earth days</td>\n      <td>365.24 days</td>\n    </tr>\n    <tr>\n      <th>Temperature:</th>\n      <td>-87 to -5 °C</td>\n      <td>-88 to 58°C</td>\n    </tr>\n  </tbody>\n</table>'

In [26]:
browser.quit()

Requirement already satisfied: flask_pymongo in c:\users\taher\anaconda3\envs\pythondata\lib\site-packages (2.3.0)
Requirement already satisfied: Flask>=0.11 in c:\users\taher\anaconda3\envs\pythondata\lib\site-packages (from flask_pymongo) (1.1.2)
Requirement already satisfied: PyMongo>=3.3 in c:\users\taher\anaconda3\envs\pythondata\lib\site-packages (from flask_pymongo) (4.0.1)
Requirement already satisfied: itsdangerous>=0.24 in c:\users\taher\anaconda3\envs\pythondata\lib\site-packages (from Flask>=0.11->flask_pymongo) (2.0.1)
Requirement already satisfied: Jinja2>=2.10.1 in c:\users\taher\anaconda3\envs\pythondata\lib\site-packages (from Flask>=0.11->flask_pymongo) (2.11.3)
Requirement already satisfied: Werkzeug>=0.15 in c:\users\taher\anaconda3\envs\pythondata\lib\site-packages (from Flask>=0.11->flask_pymongo) (2.0.2)
Requirement already satisfied: click>=5.1 in c:\users\taher\anaconda3\envs\pythondata\lib\site-packages (from Flask>=0.11->flask_pymongo) (8.0.3)
Requirement already satisfied: colorama in c:\users\taher\anaconda3\envs\pythondata\lib\site-packages (from click>=5.1->Flask>=0.11->flask_pymongo) (0.4.4)
Requirement already satisfied: importlib-metadata in c:\users\taher\anaconda3\envs\pythondata\lib\site-packages (from click>=5.1->Flask>=0.11->flask_pymongo) (4.8.1)
Requirement already satisfied: MarkupSafe>=0.23 in c:\users\taher\anaconda3\envs\pythondata\lib\site-packages (from Jinja2>=2.10.1->Flask>=0.11->flask_pymongo) (1.1.1)
Requirement already satisfied: typing-extensions>=3.6.4 in c:\users\taher\anaconda3\envs\pythondata\lib\site-packages (from importlib-metadata->click>=5.1->Flask>=0.11->flask_pymongo) (3.10.0.2)
Requirement already satisfied: zipp>=0.5 in c:\users\taher\anaconda3\envs\pythondata\lib\site-packages (from importlib-metadata->click>=5.1->Flask>=0.11->flask_pymongo) (3.6.0)
Note: you may need to restart the kernel to use updated packages.